#body {
  height: 100%;
}

.App {
}

.todoCard {
  justify-content: 'space-between';
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 200px;
  box-shadow: 10;
  border-radius: 1;
  border: 1;
}