body {
  height: 100%;
  background-color: rgb(146, 140, 140);
}

.App {
  display: flex;
}

.todoItemsDiv {
  justify-content: 'space-between';
  padding: 10px;
  width: 'fit-content';
}

.todoItem {
  width: 12rem;
  padding: 10px;
}

.addTodoItemForm {
  padding: 10px;
}

.cardButton {
  height: 100%;
  width: 100%;
}

.droppable {
  padding: 7px;
  border: 1px solid lightgrey;
  min-height: 100px;
  border-radius: 5px;
}

.droppable-header {
  font-size: 1.5em;
  text-align: center;
  min-width: 8.85em;
}