#body {
  height: 100%;
}

.App {
}

.todoCardsDiv {
  justify-content: 'space-between';
  display: 'flex';
  width: fit-content;
  padding: 10px;
}

.todoCard {
  padding: 8px;
  width: 12rem;
}

.cardButton {
  height: 100%;
  width: 100%;
}
